USE [master]
GO
/****** Object:  Database [crud_l001]    Script Date: 28.01.2021 23:31:57 ******/
CREATE DATABASE [crud_l001]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'crud_l001', FILENAME = N'C:\Games\db\crud_l001.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'crud_l001_log', FILENAME = N'C:\Games\db\crud_l001_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [crud_l001].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [crud_l001]
GO
/****** Object:  Table [dbo].[users]    Script Date: 28.01.2021 23:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[login] [varchar](20) NOT NULL,
	[password] [varchar](20) NOT NULL,
	[name] [varchar](20) NOT NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
